DEPLOY=PRODUCTION

DB_HOST=localhost
DB_USER=postgres
DB_PASS=1234
DB_NAME=xxx
DB_PORT=5432
DB_POOL_SIZE=5
REDIS=redis://localhost:6379/0

KEY=KEY

ADMIN_PATH=admin
DOMAIN=my.xxx.ir

SECURITY_MOBILE=0910XXXXXXX

IP_BLOCKEDS=127.0.0.1,192.168.1.1
WEBSITE_PROXY_IPS=1.2.3.4,5.6.7.8
