zstandard
booktype
amqp==5.3.1
annotated-types==0.7.0
asgiref==3.11.1
bcrypt==5.0.0
beautifulsoup4==4.15.0
billiard==4.2.4
black==26.5.1
bs4==0.0.2
celery==5.6.3
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==49.0.0
dj-static==0.0.6
Django==6.0.6
django-cors-headers==4.9.0
Django-jalali-date-new==1.1
django-json-widget==2.1.1
django-mass-edit==3.5.0
django-redis==7.0.0
django-simorgh==1.0.1
django-user-agents==0.4.0
django_celery_results==2.6.0
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.18
jalali_core==1.0.0
jdatetime==5.3.0
kombu==5.6.2
markdown2==2.5.5
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.10.0
prompt_toolkit==3.0.52
psycopg==3.3.4
psycopg-pool==3.3.1
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytokens==0.4.1
redis==8.0.0
regex==2026.5.9
requests==2.34.2
six==1.17.0
soupsieve==2.8.4
sqlparse==0.5.5
static3==0.7.0
types-python-dateutil==2.9.0.20260518
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
ua-parser==1.0.2
ua-parser-builtins==202606
urllib3==2.7.0
user-agents==2.2.0
vine==5.1.0
wcwidth==0.8.1
